/* back to top btn */

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;
  background: #70b9b0;
  color: #fff;
  border-radius: 3px;
  transition: display 0.3s ease-in-out;
  z-index: 9999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #8bc6bf;
  transition: background 0.2s ease-in-out;
}

/* back to top btn */

/* Header */

@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}

/* navigation */

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* navigation */

/* Mobile Navigation */

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  background: #01292a;
  transition: 0.4s;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #d2ece9;
  padding: 10px 10px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #9cd5ce;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  outline: none !important;
  transition: 0.3s;
  text-align: right;
  cursor: pointer;
  line-height: 1;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}
.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(1, 41, 42, 0.9);
  overflow: hidden;
  display: none;
}

/* Header */

/* hero */

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/* hero */
